# ======================
# Python
# ======================
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# ======================
# Environment / Secrets
# ======================
.env
*.env
access-key.txt
*.key
*.pem
*.secret

# ======================
# Streamlit
# ======================
.streamlit/secrets.toml
dashboard/.streamlit/secrets.toml

# ======================
# OS / Editor junk
# ======================
.DS_Store
Thumbs.db
.vscode/
